<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>controller.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGGServlet</servlet-name>
        <servlet-class>controller.LoginGGServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostJobServlet</servlet-name>
        <servlet-class>controller.PostJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPostServlet</servlet-name>
        <servlet-class>controller.ListPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccServlet</servlet-name>
        <servlet-class>controller.CreateAccServlett</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptJob</servlet-name>
        <servlet-class>controller.AcceptJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteJob</servlet-name>
        <servlet-class>controller.DeleteJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>controller.ViewProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccServlet</servlet-name>
        <url-pattern>/CreateAccServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGGServlet</servlet-name>
        <url-pattern>/LoginGGServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostJobServlet</servlet-name>
        <url-pattern>/PostJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPostServlet</servlet-name>
        <url-pattern>/list-post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptJob</servlet-name>
        <url-pattern>/AcceptJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteJob</servlet-name>
        <url-pattern>/DeleteJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>controller.CreateAccountServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccountServlet</url-pattern>
</servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
